asgiref==3.11.1
attrs==26.1.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
Django==6.0.5
idna==3.15
pillow==11.3.0
pycparser==3.0
pyglet==2.1.14
pymunk==6.9.0
pytiled_parser==2.2.9
requests==2.34.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
Unidecode==1.4.0
urllib3==2.7.0